{% extends 'base.html' %} 

{% block styles %}

<style>

  .sidebar {
    width: 300px;
    background: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    flex-shrink: 0; /* Prevents the sidebar from shrinking */
  }

  .message-content {
    white-space: pre-line;
  }

  /* Custom styles for the user menu */
  .user-menu {
    position: fixed;
    bottom: 0;
    padding: 10px; 
    width: 300px; /* Same as sidebar width */
    background: #f4f4f4; /* Matching the sidebar background */
  }

  .user-menu-button {
    display: block;
    width: 100%;
    border: none;
    background: #ccc; /* Similar to the close button */
    cursor: pointer;
    color: #333; /* This should be a color that contrasts with the button's background */
    border-radius: 0; /* Remove border-radius if you don't want rounded corners */
    box-shadow: none;
  }

  /* Adjusting the drop-up menu position */
  .drop-up {
    transform: translateY(-100%);
  }

  /* Added styles for the close button */
  .sidebar-close button {
    display: block; /* Make the button take its own line */
    width: 100%; /* Stretch the button to the full width of the sidebar */
    padding: 10px; /* Add some padding for better touch */
    border: none; /* Remove the default button border */
    background: #ccc; /* A light grey background for the button */
    cursor: pointer; /* Change the cursor to pointer when hovering over the button */
  }

  /* Adjust the chat container to be a flex container */
  .chat-container {
    display: flex;
    height: calc(100vh - 56px);
  }

  /* Typing indicator styles */
  .typing-indicator {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f0f0; /* Match the received message bubble color */
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: #888;
    border-radius: 50%;
    animation: dotFluctuate 1.5s infinite linear;
  }

  .dot:nth-child(1) { animation-delay: 0s; }
  .dot:nth-child(2) { animation-delay: 0.2s; }
  .dot:nth-child(3) { animation-delay: 0.4s; }

  @keyframes dotFluctuate {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }

  .message-text-next {
  margin-left: 8px; /* Adjust spacing between the dots and the text as needed */
  }

  .card.flex-grow-1 {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden; /* Keep this to prevent overflow */
  overflow-y: auto; /* Make it scrollable */
  }

  /* Style for chat session items */
  .session-item {
  padding: 10px;
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Space between session text and delete icon */
  align-items: center; /* Center items vertically */
  }

  .session-item:hover {
    background: #e9e9e9;
  }

  .session-item:hover .delete-session {
  display: inline; /* Show on hover */
  } 

  .delete-session {
  display: none; /* Hide by default */
  cursor: pointer; /* Change cursor on hover */
  }

  #reopen-sidebar {
  position: fixed; /* Or absolute, depending on your layout */
  top: 50%; /* Middle of the screen vertically */
  left: 0; /* At the left edge, adjust as needed */
  transform: translateY(-50%); /* Center it vertically */
  color: white; /* Icon color */
  padding: 5px 10px; /* Small padding */
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
  z-index: 1000; /* Ensure it's above other content */
  }

  .messages-box {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-bottom: 10px; /* Add padding to space out messages from the form */
    margin-bottom: 50px; /* Adjust this to the height of your message form */
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }

  .received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; 
    padding: 10px;
    background-color: #f8f9fa;
    z-index: 100;
    transition: left 0.3s;
  }
  
  .sidebar-opened-form {
    left: 300px; 
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
    min-height: 38px !important; /* Minimum height before expanding */
    height: 38px !important; /* Initial height */
    overflow-y: hidden; /* Hide vertical scrollbar */
    resize: none; /* Prevent manual resizing by the user */
  }

  .btn-send {
    border-radius: 0;
  }

  .full-width-container {
    max-width: none;
    padding: 0;
    margin: 0 auto;
  }

  .message-image img {
    max-width: 50%; /* Adjust this value as needed */
    max-height: 200px; /* Adjust this value as needed */
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.file-indicator {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9em;
  color: #888;
  background: #f0f0f0;
  padding: 3px 6px;
  border-radius: 4px;
}

.credits-info {
    background-color: #f4f4f4; /* Matching the sidebar background */
    border-bottom: 1px solid #ddd; /* Consistent with sidebar design */
    color: #333; /* Ensure text is readable and consistent with sidebar */
}


  @media screen and (max-width: 767px) {
    .sidebar {
    width: 30%;
  }

  .sidebar-opened-form {
    left: 30%; 
  }

  .user-menu {
    width: 30%; /* Same as sidebar width */
  }

  }
</style>
{% endblock %} 

{% block title %}MARS{% endblock %}

{% block nocontainercontent %}
<div class="chat-container">
  <div class="sidebar" id="sidebar">

    <div class="sidebar-close">
      <button onclick="toggleSidebar()">Close</button>
    </div>

    <div class="credits-info px-3 py-2">
    <span>Créditos: <strong id="credits-display">{{ available_cost }}</strong></span>
    </div>

    <!-- Inside the sidebar, at the bottom -->
    <div class="user-menu">
      <button class="btn user-menu-button dropdown-toggle" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.username }}
      </button>
      <ul class="dropdown-menu dropdown-menu-end drop-up" aria-labelledby="userMenuButton">
        
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#planModal">Mi plan</a></li>
        <li><a class="dropdown-item" href="#">Configuraciones</a></li>
      </ul>
    </div>

    <div class="session-item" onclick="createSession()">New Chat +</div>
    {% for session in chat_sessions %}
      <div class="session-item" onclick="changeSession('{{ session.id }}')">
        Chat {{ session.id }}
        <span class="delete-session" onclick="deleteSession(event, '{{ session.id }}')">𝗫</span> <!-- Trash can icon -->
      </div>
    {% endfor %}
  </div>

  <!-- Arrow Icon for Reopening Sidebar -->
  <div class="bg-dark text-secondary" id="reopen-sidebar" onclick="toggleSidebar()" style="cursor: pointer; display: none;">
    &#9654; <!-- Unicode right-pointing triangle, you can replace it with an icon -->
  </div>

  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>MARS</b>
            </div>
            <div class="message-content">
              <pre>
              Hola {{user.username}}, soy MARS, tu publicista digital. Chatea conmigo para comenzar a crear publicaciones para el Instagram de tu negocio.
            </pre>
            </div>
          </div>
        </li>

        {% for chat in chats %}
          {% if chat.chat_session.user == request.user %}
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>{{ user.username }}</b>
                </div>
                <div class="message-content">
                  {{ chat.message }}
                  {% if chat.user_input_image %}
                    <div class="message-image">
                      <img src="{{ chat.user_input_image.url }}" alt="Image" style="max-width: 100%; height: auto;">
                    </div>
                  {% endif %}
                </div>
              </div>
            </li>

            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>MARS</b>
                </div>
                <div class="message-content">
                  {{ chat.response }}
                </div>
                {% if chat.image_path %}
                  <div class="message-image">
                    <img src="{{ chat.image_path.url }}" alt="Image" style="max-width: 100%; height: auto;">
                  </div>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}

      </ul>

    </div>
  </div>
  <form class="message-form" id="message-form" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="input-group">

    <input type="file" id="file-input" name="image" style="display: none;" />

    <label for="file-input" class="btn btn-secondary bg-dark">📷</label>

    <textarea class="form-control message-input" placeholder="Chatea con MARS..." name="message"></textarea>

    <div class="input-group-append">
      <button type="submit" class="btn btn-primary btn-send bg-dark">Send</button>
    </div>

  </div>

  </form>

</div>

    <!-- Modals -->

    <!--Modal 1: Mi perfil-->
        <div class="modal fade" id="planModal" tabindex="-1" aria-labelledby="planModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="planModalLabel">Escoge tu plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <!-- Plus Plan -->
                  <div class="col-md-6">
                    <div class="plan-card">
                      <h3 class="plan-title">Plus</h3>
                      <p class="plan-price">MXN $150/mes</p>
                      <!--Form de stripe p1-->
                      
                      {% if subscription_name ==  "Plus" %}
                      <a href="{% url 'customer_portal' %}" class="btn btn-secondary">Ver tu plan</a>

                      {% elif subscription_name == "Pro" %}
                      <form id="paymentForm" action="{% url 'product_page' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="option_id" name="option_id" value="" />
                        
                        <button type="button" class="btn btn-primary" onclick="setOption('Pro->Plus')">Rebaja tu plan</button>
                      </form>

                      {% else %}
                      <form id="paymentForm" action="{% url 'product_page' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="option_id" name="option_id" value="" />
                        
                        <button type="button" class="btn btn-primary" onclick="setOption('Plus')">Acceder a MARS</button>
                      </form>
                      {% endif %}

                      <ul class="plan-features">
                        <li>Access to GPT-4, our most capable model</li>
                        <li>Browse, create, and use GPTs</li>
                        <li>Access to additional tools like DALL·E, Browsing, Advanced Data Analysis and more</li>
                      </ul>
                      <div class="plan-footer">
                        <a href="{% url 'customer_portal' %}" class="manage-link">Manejar mi suscripción.</a>
                        <a href="#" class="billing-link">Ayuda con un problema de pagos.</a>
                      </div>
                    </div>
                  </div>

                  <!-- Team Plan -->
                  <div class="col-md-6">
                    <div class="plan-card">
                      <h3 class="plan-title">Pro</h3>
                      <p class="plan-price">$1,000/mes</p>

                      <!--Form de stripe p2-->
                      {% if subscription_name ==  "Pro" %}
                      <a href="{% url 'customer_portal' %}" class="btn btn-secondary">Ver tu plan</a>

                      {% elif subscription_name == "Plus" %}
                      <form id="paymentForm" action="{% url 'product_page' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="option_id" name="option_id" value="" />
                        
                        <button type="button" class="btn btn-primary" onclick="setOption('Plus->Pro')">Mejora tu plan</button>
                      </form>

                      {% else %}
                      <form id="paymentForm" action="{% url 'product_page' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="option_id" name="option_id" value="" />
                        
                        <button type="button" class="btn btn-primary" onclick="setOption('Pro')">Crece tu marca</button>
                      </form>
                      {% endif %}
                    
                      <ul class="plan-features">
                        <li>Everything in Plus, and:</li>
                        <li>Higher message caps on GPT-4 and tools like DALL·E, Browsing, Advanced Data Analysis, and more</li>
                        <li>Create and share GPTs with your workspace</li>
                        <li>Admin console for workspace management</li>
                        <li>Team data excluded from training by default. <a href="#">Learn more</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <!--Fin Modal 1-->

    <!-- Mensajes de error -->
    {% if messages %}
    <div id="message-popup" style="display:none;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
window.addEventListener('DOMContentLoaded', () => {
  const sidebarState = localStorage.getItem('sidebarOpen');
  const sidebar = document.getElementById('sidebar');
  const reopenSidebar = document.getElementById('reopen-sidebar');
  const messageForm = document.querySelector('.message-form');

  if (sidebarState === 'true' || sidebarState === null) {
    sidebar.style.display = 'block';
    reopenSidebar.style.display = 'none';
    messageForm.classList.add('sidebar-opened-form');
  } else {
    sidebar.style.display = 'none';
    reopenSidebar.style.display = 'flex';
    messageForm.classList.remove('sidebar-opened-form');
  }
});

function toggleSidebar() {
  const sidebar = document.getElementById('sidebar');
  const reopenSidebar = document.getElementById('reopen-sidebar');
  const messageForm = document.querySelector('.message-form');

  if (sidebar.style.display === 'none' || sidebar.style.display === '') { // '' handles initial state without explicit inline style
    sidebar.style.display = 'block';
    reopenSidebar.style.display = 'none';
    messageForm.classList.add('sidebar-opened-form');
    localStorage.setItem('sidebarOpen', 'true');
  } else {
    sidebar.style.display = 'none';
    reopenSidebar.style.display = 'flex';
    messageForm.classList.remove('sidebar-opened-form');
    localStorage.setItem('sidebarOpen', 'false');
  }
}

window.addEventListener('DOMContentLoaded', () => {
    // Function to trim text nodes within an element
    const trimTextNodes = (element) => {
        // Iterate over child nodes
        element.childNodes.forEach((node) => {
            // Node type 3 is a text node
            if (node.nodeType === 3) {
                node.nodeValue = node.nodeValue.trim();
            }
        });
    };

    // Observe changes in the message list container
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            mutation.addedNodes.forEach((node) => {
                // Check if the added node is a message and has a message-content class
                if (node.nodeType === 1 && node.classList.contains('message')) {
                    const messageContent = node.querySelector('.message-content');
                    if (messageContent) {
                        trimTextNodes(messageContent);
                    }
                }
            });
        });
    });

    // Configuration for the observer: watch for added nodes
    const config = { childList: true };

    // Start observing the message list container
    const messagesList = document.querySelector('.messages-list');
    if (messagesList) {
        observer.observe(messagesList, config);
    }

    // Initial trim for existing messages
    document.querySelectorAll('.message-content').forEach(trimTextNodes);
});

window.addEventListener('DOMContentLoaded', () => {
  // Ensure this selector matches your message input element
  const messageInput = document.querySelector('.message-input');

  if (!messageInput) {
    console.error('Message input not found');
    return;
  }

  const adjustHeight = () => {
    // Reset the element's height to its minimum (e.g., 2 rows for a textarea)
    messageInput.style.height = 'auto';
    // Adjust the height based on the scrollHeight of the element
    messageInput.style.height = messageInput.scrollHeight + 'px';
  };

  // Apply adjustment upon user input
  messageInput.addEventListener('input', adjustHeight);

  // Initial adjustment in case there is already text in the input (e.g., when editing a draft)
  adjustHeight();
});

</script>

<script>
  const baseUrl = '/chatbot/';
  const currentPath = window.location.pathname;
  const pathSegments = currentPath.split('/').filter(Boolean); // Split by '/' and remove any empty strings

  // Assume the session ID is the last segment in the URL path, if present
  const currentSessionId = pathSegments.length > 1 ? pathSegments[pathSegments.length - 1] : null;
  const fetchUrl = baseUrl + (currentSessionId ? `${currentSessionId}/` : "");

  const messages_list = document.querySelector('.messages-list');
  const message_form = document.querySelector('.message-form');
  const message_input = document.querySelector('.message-input');
  const file_input = document.querySelector('#file-input');
  const messageForm = document.getElementById('message-form');

  function setOption(optionId) {
    document.getElementById('option_id').value = optionId;
    document.getElementById('paymentForm').submit();
  }

  window.addEventListener('load', () => {
    const messagePopup = document.getElementById('message-popup');
    if (messagePopup) {
        const messageText = messagePopup.textContent.trim();
        if (messageText) {
            // Using a simple alert as an example
            alert(messageText);
            // For a custom modal/pop-up, you would show it here instead
        }
    }
  });

  function deleteSession(event, sessionId) {
  event.stopPropagation(); // Prevent the session change action

  // Get the CSRF token from a cookie
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  // Directly send the request to delete the session, including the CSRF token in the request headers
  fetch(`/delete-session/${sessionId}/`, {
    method: 'DELETE',
    headers: {
      'X-CSRFToken': csrfToken // Include CSRF token in the request header
    }
  })
  .then(response => {
    if (response.ok) {
      window.location.reload(); // Reload the page to update the session list
    } else {
      console.error('Error deleting session:', response.statusText);
    }
  });
  }

  function changeSession(session_id) {
    window.location.href = `${baseUrl}${session_id}/`;
  }

  function createSession() {
    window.location.href = baseUrl;
  }

  message_form.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = message_input.value.trim();
    const file = file_input.files[0];

    if (message.length === 0) {
      return;
    }

    // Clear the message input field
    message_input.value = '';
    file_input.value = '';

    // Create FormData object and append message and file
    let formData = new FormData();
    formData.append('message', message);
    if (file) {
      formData.append('image', file);
    }

    function scrollToBottom() {
          const messagesBox = document.querySelector('.messages-box');
          messagesBox.scrollTop = messagesBox.scrollHeight; // Scroll to the bottom
    }

    // Append CSRF token to the FormData
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    formData.append('csrfmiddlewaretoken', csrfToken);

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'received');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    
    if (file) {
        const fileWidget = document.createElement('div');
        fileWidget.className = 'file-indicator';
        fileWidget.innerHTML = `📎 ${file.name}`;
        messageItem.querySelector('.message-text').appendChild(fileWidget);
    }

    messages_list.appendChild(messageItem);
    message_input.value = '';

    const loadingWidget = document.createElement('li');
    loadingWidget.className = 'message received'; // Use the same class as other messages for consistent styling
    loadingWidget.innerHTML = `
    <div class="message-text">
    <div class="message-content-simple"> <!-- This acts as a flex container -->
        <div class="typing-indicator">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
            <div class="message-text-next">Estamos en fase beta y los tiempos de espera son de 30 segundos a 2 minutos. Estamos en proceso de mejorar esta función, y agradecemos tu paciencia.</div> <!-- Container for the text message -->
        </div>
    </div>
    `;
    messages_list.appendChild(loadingWidget);

    fetch(fetchUrl, {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(data => {

        if (data.alert) {
          alert(data.message);
        } else { // Closed at the end

        messages_list.removeChild(loadingWidget);

        const session_id = data.session_id
        const image_path_url = data.image_path_url;
        const response = data.response.trim();
        const updated_cost = data.updated_cost;
        const message_item = document.createElement('li');
        message_item.classList.add('message', 'received');
        message_item.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>MARS</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;

        const creditsDisplay = document.getElementById('credits-display');
          if (creditsDisplay) {
            creditsDisplay.textContent = updated_cost; 
        }

        if (image_path_url) {
            const image_wrapper = document.createElement('div');
            image_wrapper.className = 'message-image';
            const image_element = document.createElement('img');
            image_element.src = image_path_url;
            image_element.alt = "Image";
            image_wrapper.appendChild(image_element);
            message_item.querySelector('.message-text').appendChild(image_wrapper);
        }

        messages_list.appendChild(message_item);
        messages_list.scrollTop = messages_list.scrollHeight;

        scrollToBottom();

        if (!currentSessionId) {
          window.location.href = `/chatbot/${session_id}/`;
        }
      }
      });
  });


</script>

{% endblock %}