{% extends 'base.html' %} 

{% block container_classes %}full-width-container{% endblock %}

{% block styles %}

<style>
  body,
  html {
    height: 100%;
  }

  .messages-box {
    overflow-y: auto;
    flex-grow: 1; /* Allows the box to expand to fill available space */
    margin-bottom: 10px; /* Adjust as needed */
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }

  .received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .btn-send {
    border-radius: 0;
  }

  .chat-container {
    width: 100%; /* Ensures full width of the viewport or parent element */
    height: 100vh; /* Ensures full height of the viewport */
    display: flex;
    flex-direction: column;
  }

  .full-width-container {
    max-width: none;
    padding: 0;
    margin: 0 auto;
  }

  .message-image img {
    max-width: 50%; /* Adjust this value as needed */
    max-height: 200px; /* Adjust this value as needed */
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.file-indicator {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9em;
  color: #888;
  background: #f0f0f0;
  padding: 3px 6px;
  border-radius: 4px;
}
</style>
{% endblock %} 
{% block title %}Chat{% endblock %}
{% block content %}
<div class="chat-container override-container">
  <div class="card flex-grow-1">

    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>MARS</b>
            </div>
            <div class="message-content">
              Hola {{user.username}}, soy MARS, tu publicista digital. Chatea conmigo para comenzar a crear publicaciones para el Instagram de tu negocio.
            </div>
          </div>
        </li>

        {% for chat in chats %}
          {% if chat.user == request.user %}
            <li class="message sent">
              <div class="message-text">
                <div class="message-sender">
                  <b>{{ user.username }}</b>
                </div>
                <div class="message-content">
                  {{ chat.message }}
                  {% if chat.user_input_image %}
                    <div class="message-image">
                      <img src="{{ chat.user_input_image.url }}" alt="Image" style="max-width: 100%; height: auto;">
                    </div>
                  {% endif %}
                </div>
              </div>
            </li>

            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>MARS</b>
                </div>
                <div class="message-content">
                  {{ chat.response }}
                </div>
                {% if chat.image_path %}
                  <div class="message-image">
                    <img src="{{ chat.image_path.url }}" alt="Image" style="max-width: 100%; height: auto;">
                  </div>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
    <br /><br />
    <br /><br />
    <br /><br />
  </div>
  <form class="message-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-group">
    <input type="file" id="file-input" name="image" style="display: none;" />
    <label for="file-input" class="btn btn-secondary">📎</label>
    <input type="text" class="form-control message-input" placeholder="Chatea con MARS..." name="message" />
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary btn-send">Send</button>
    </div>
  </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  const fileInput = document.querySelector('#file-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    const file = fileInput.files[0];

    if (message.length === 0) {
      return;
    }

    // Clear the message input field
    messageInput.value = '';
    fileInput.value = '';

    // Create FormData object and append message and file
    let formData = new FormData();
    formData.append('message', message);
    if (file) {
      formData.append('image', file);
    }

    // Append CSRF token to the FormData
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    formData.append('csrfmiddlewaretoken', csrfToken);

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    
    if (file) {
        const fileWidget = document.createElement('div');
        fileWidget.className = 'file-indicator';
        fileWidget.innerHTML = `📎 ${file.name}`;
        messageItem.querySelector('.message-text').appendChild(fileWidget);
    }

    messagesList.appendChild(messageItem);
    messageInput.value = '';

    fetch('', {
      method: 'POST',
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        const image_path_url = data.image_path_url;
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;

        if (image_path_url) {
            const imageWrapper = document.createElement('div');
            imageWrapper.className = 'message-image';
            const imageElement = document.createElement('img');
            imageElement.src = image_path_url;
            imageElement.alt = "Image";
            imageWrapper.appendChild(imageElement);
            messageItem.querySelector('.message-text').appendChild(imageWrapper);
        }


        messagesList.appendChild(messageItem);
        messagesList.scrollTop = messagesList.scrollHeight;
      });
  });


</script>

{% endblock %}
